:root {
    --centrar-bg-color: #f9f9f9; /* Color de fondo del contenedor */
    --table-border-color: #ddd; /* Color de la línea divisoria de la tabla */
    --button-bg-color: #007bff; /* Color de fondo del botón */
    --button-hover-bg-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}


/* Contenedor centrado */
.centrar {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    background-color: var(--centrar-bg-color); 
    border-radius: 8px; 
}

/* Estilos de la tabla */
table {
    width: 100%; /* Hace que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina el espacio entre celdas */
}

th, td {
    padding: 10px; /* Espaciado interno en celdas */
    text-align: left; /* Alineación del texto */
    border-bottom: 1px solid var(--table-border-color); /* Línea divisoria entre filas */
}

.table-button {
    display: inline-block; /* Asegura que el botón se comporte como un bloque en línea */
    padding: 10px 15px; /* Espaciado interno para el botón */
    margin: 5px; /* Margen entre botones */
    background-color: #0a55a5; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-align: center; /* Centra el texto */
}

.table-button-delete {
    background-color: #dc3545; /* Color de fondo para el botón de borrar */
}

.table-button:hover {
    opacity: 0.8; /* Efecto de hover */
}



/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --centrar-bg-color: #1a202b; /* Color de fondo del contenedor en modo oscuro */
        --table-border-color: #282c33; /* Color de la línea divisoria de la tabla en modo oscuro */
        --button-bg-color: #5c6bc0; /* Color de fondo del botón en modo oscuro */
        --button-hover-bg-color: #3f51b5; /* Color de fondo del botón al pasar el mouse en modo oscuro */
        --nav-bg-color: #1a202b; /* Color de fondo de la barra de navegación en modo oscuro */
        --nav-link-color: #ffffff; /* Color de los enlaces en la barra de navegación en modo oscuro */
    }
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
    :root {
        --centrar-bg-color: #f9f9f9; /* Color de fondo del contenedor en modo claro */
        --table-border-color: #ddd; /* Color de la línea divisoria de la tabla en modo claro */
        --button-bg-color: #007bff; /* Color de fondo del botón en modo claro */
        --button-hover-bg-color: #0056b3; /* Color de fondo del botón al pasar el mouse en modo claro */
        --nav-bg-color: #f0f0f0; /* Color de fondo de la barra de navegación en modo claro */
        --nav-link-color: #333; /* Color de los enlaces en la barra de navegación en modo claro */
    }
}


/* Estilo específico para el botón de guardar */
.button-save {
    background-color: #007bff; /* Color de fondo del botón de guardar */
}

.button-save:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Estilo específico para el botón de cancelar */
.button-cancel {
    background-color: #dc3545; /* Color de fondo del botón de cancelar */
}

.button-cancel:hover {
    background-color: #c82333; /* Color de fondo al pasar el mouse */
}


.button:hover, .table-button:hover {
    background-color: var(--button-hover-bg-color); /* Color de fondo al pasar el mouse */
}
