
    /* Boton para agregar los tickets */
.fixed-button {
    position: fixed; 
    bottom: 20px;  
    right: 20px;   
    z-index: 1000; 
}

.button {
    display: inline-block; 
    padding: 10px 20px;   
    background-color: #007bff; 
    color: white;        
    text-decoration: none; 
    border-radius: 5px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s; 
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}

.button:hover {
    background-color: #0056b3; 
}


.profile-li {
        display: flex; /* Utiliza flexbox para centrar el contenido */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        list-style: none; /* Elimina los puntos de la lista */
        height: 100px; /* Ajusta la altura según sea necesario */
    }
    
.circle-button {
        display: inline-block; /* Permite aplicar dimensiones */
        width: 50px; /* Ancho del círculo */
        height: 50px; /* Alto del círculo */
        border-radius: 100%; /* Hace que el botón sea circular */
        background-color: #007bff; /* Color de fondo */
        color: white; /* Color del texto */
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 50px; /* Centra el texto verticalmente */
        text-decoration: none; /* Quita el subrayado del enlace */
        font-weight: bold; /* Hace el texto más grueso */
        font-size: 16px; /* Tamaño de la fuente */
    }
    
.circle-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}


nav ul {
    list-style-type: none; 
    padding: 0; 
}
nav li {
    display: inline; 
    margin-right: 15px; 
}
nav a {
    text-decoration: none; 
    color: var(--nav-link-color, #333); 
}
nav a:hover {
    color: #007bff; 
}

/* Estilo para el logo */
.logo {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción del logo */
}