.comments-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--ticket-border-color, #ccc);
    border-radius: 8px;
    background-color: var(--ticket-bg-color, #ad0000);
}

/* .comments-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

.comments-list {
    background-color: var(--mensaje-color, #ff0000);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-list-container {
    margin-top: 1rem;
}

.block {
    background-color: var(--mensaje-color, #1b2647);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 
.button {
    background-color: var(--button-bg-color, #007bff);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
} */

.button:hover {
    background-color: var(--button-hover-bg-color, #0056b3);
}

.secondary {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--button-bg-color, #007bff);
}

.secondary:hover {
    text-decoration: underline;
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --mensaje-color: #ffffff;
        --ticket-border-color: #5c6bc0;
        --ticket-bg-color: #13171f;
        --button-bg-color: #5c6bc0;
        --button-hover-bg-color: #3f51b5;
    }
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
    :root {
        --mensaje-color: #ffffff;
        --ticket-border-color: #3105f5;
        --ticket-bg-color: #ffffff;
        --button-bg-color: #3105f5;
        --button-hover-bg-color: #203bd8;
    }
}
