.mensaje {
    margin-top: 20px; 
    font-size: 18px; 
    color: #203bd8d3; 
}
.ticket {
    border: 1px solid #3105f5; 
    border-radius: 5px; 
    padding: 15px; 
    margin: 10px 0; 
    background-color: #ffffff; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.ticket div {
    flex: 1; 
    margin: 1px; 
}

/* botones del login y logout */

.login-button, .logout-button {
    float: right; /* Alinea el botón a la derecha */
    padding: 10px 15px; 
    background-color: #3105f5; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    margin-top: 20px; /* Espacio superior para separar del h1 */
}
.login-button:hover, .logout-button:hover {
    background-color: #203bd8; /* Color al pasar el mouse */
}

/* No me acuerdo quien usa el header pero por si las dudas se queda */

.header {
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
}


/* Barra de navegacion */

    nav {
        background-color: #f0f0f0; /* Color del fondo */
        padding: 10px; /* Espaciado del color del fondo */
    }
    nav ul {
        list-style-type: none; /* Sin viñetas */
        padding: 0; /* Sin padding */
    }
    nav li {
        display: inline; /* Elementos en una sola línea */
        margin-right: 15px; /* Espaciado entre elementos */
    }
    nav a {
        text-decoration: none; /* Sin subrayado */
        color: #333; /* Color del texto */
    }
    nav a:hover {
        color: #007bff; /* Color al pasar el mouse */
    }


    

