header {
    background: lightgray;
}

nav img.logo {
    height: 1.5rem;
}

<<<<<<< HEAD
/* No me acuerdo quien usa el header pero por si las dudas se queda */

.header {
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
}


/* Barra de navegacion */

    nav {
        background-color: #f0f0f0; /* Color del fondo */
        padding: 10px; /* Espaciado del color del fondo */
    }
    nav ul {
        list-style-type: none; /* Sin viñetas */
        padding: 0; /* Sin padding */
    }
    nav li {
        display: inline; /* Elementos en una sola línea */
        margin-right: 15px; /* Espaciado entre elementos */
    }
    nav a {
        text-decoration: none; /* Sin subrayado */
        color: #333; /* Color del texto */
    }
    nav a:hover {
        color: #007bff; /* Color al pasar el mouse */
    }


    

=======
nav .profile-button {
    background: blue;
    color: white;
    aspect-ratio: 1/1;
    height: 2rem;
    overflow: hidden;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
>>>>>>> styles
