{% extends 'base.html' %}

{% block title %}Listado de Etiquetas{% endblock title %}

{% block body %}

{% if user.is_superuser %}


    {% if not user.is_authenticated %}
        <div class="mensaje">
            Necesitas iniciar sesión para continuar.
            <a class="login-button" href="{% url 'login_view' %}">Iniciar Sesión</a>
        </div>
    {% else %}
        <div class="centrar">
            <h2>Lista de Etiquetas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>

                    </tr>
                </thead>
                <tbody>
                    {% for etiqueta in etiqueta_list %}
                    <tr>
                        <td><a href="{% url 'editar_etiqueta' etiqueta.id %}">{{ etiqueta.nombre }}</a></td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="mensaje">No hay etiquetas disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'crear_etiqueta' %}" class="button">Crear Etiqueta</a> 
        </div>
    {% endif %}


{% endif %}

{% endblock body %}
