<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTC-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
        <link rel="stylesheet" href="{% static 'css/form_crear.css' %}">
        <link rel="stylesheet" href="{% static 'css/detalles-tickets.css' %}">
        <link rel="stylesheet" href="{% static 'css/botones-index.css' %}">

    </head>
    <body>
        <div class="header">
            <nav class="container">
                <h1>Fundabit</h1>
                <ul>
                    {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'Administracion' %}">Administrar</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'ticket_list' %}">Tickets</a>
                    </li>
                    <li>
                        <a href="{% url 'perfil_usuario' %}" class="circle-button">P</a>
                    </li>
                </ul>
            </nav>
        </div>
    {% block body %}{% endblock %}
    </body>
</html>