<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTC-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
        <link rel="stylesheet" href="{% static 'css/form_crear.css' %}">
        <link rel="stylesheet" href="{% static 'css/detalle.css' %}">
        <link rel="stylesheet" href="{% static 'css/listado.css' %}">

    </head>
    <body>

    {% block body %}{% endblock %}
    </body>
</html>