{% extends "base.html" %}
{% load static %}
{% block title %}Cerrar Ticket{% endblock %}

{% block body %}
    <h1>Cerrar Ticket: {{ ticket.titulo }}</h1>
    <div class="centrar">
        {% if not ticket.resuelto_por %}
            <form method="post" class="close-ticket-form">
                {% csrf_token %}
                {{ close_form.as_p }}
                <button type="submit" class="btn btn-primary">Cerrar Ticket</button>
            </form>

            {% if close_form.errors %}
                <div class="error">
                    <strong>Errores en el formulario:</strong>
                    <ul>
                        {% for field in close_form %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in close_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
        {% endif %}

        <a href="{% url 'ticket_detalle' ticket.id %}" class="btn btn-secondary">Volver a los detalles del ticket</a>
    </div>
{% endblock %}
