{% extends 'base.html' %}

{% block title %}Crear Dirección{% endblock title %}

{% block body %}

{% if user.is_superuser %}
    <div class="header">
        <nav class="container">
            <h1>Crear Nueva Dirección</h1>
            <ul>
                <li><a href="{% url 'ticket_list' %}">Tickets</a></li>
                <li>
                    <a href="{% url 'perfil_usuario' %}" class="circle-button">P</a>
                </li>
            </ul>
        </nav>
    </div>

    {% if not user.is_authenticated %}
        <div class="mensaje">
            Necesitas iniciar sesión para continuar.
            <a class="login-button" href="{% url 'login_view' %}">Iniciar Sesión</a>
        </div>
    {% else %}
        <div class="centrar">
            <h2>Formulario para Crear Dirección</h2>
            <form method="post" action="{% url 'direccion_form' %}">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Renderiza el formulario -->
                <button type="submit" class="button">Crear Dirección</button>
            </form>
            <a href="{% url 'direccion_list' %}" class="button">Volver a la Lista de Direcciones</a>
        </div>
    {% endif %}
{% else %}
    <div class="mensaje" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 0, 0, 0.8); color: white; padding: 20px; border-radius: 5px; z-index: 1000;">
        Permiso restringido
    </div>
{% endif %}

{% endblock body %}
