{% extends "base.html" %}
{% load static %}
{% block title %} Fundabit {% endblock %}

{% block nav %}

{% endblock %}

{% block body %}
<div class="perfil-container">
    <h2>Información del Usuario</h2>
    <p><strong>Cédula:</strong> {{ usuario.username }}</p>
    <p><strong>Nombres:</strong> {{ usuario.first_name }}</p>
    <p><strong>Apellidos:</strong> {{ usuario.last_name }}</p>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <div class="perfil-actions">
        <a class="perfil-button" href="{% url 'logout' %}">Cerrar Sesión</a>
        <a class="perfil-button" href="{% url 'ticket_list' %}">Regresar</a>
    </div>
</div>

{% endblock body %}