{% extends 'base.html' %} 

{% block title %}Perfil{% endblock title %} 

{% block body %}
        <div class="container .perfil">
            <div class="header">
                <nav class="container">
                    <h1>Fundabit</h1>
                    <ul>
                        {% if request.user.is_superuser %}
                        <li>
                            <a href="{% url 'Administracion' %}">Administrar</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'ticket_list' %}">Tickets</a>
                        </li>
                        <li>
                            <a href="{% url 'perfil_usuario' %}" class="circle-button">P</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div class="perfil">
                <h2>Información del Usuario</h2>
                <p><strong>Cédula:</strong> {{ usuario.username }}</p>
                <p><strong>Nombres:</strong> {{ usuario.first_name }}</p>
                <p><strong>Apellidos:</strong> {{ usuario.last_name }}</p>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <div class="actions">
                    <a class="button" href="{% url 'logout' %}">Cerrar Sesión</a>
                    <a class="button" href="{% url 'ticket_list' %}">Regresar</a>
                </div>
            </div>

        </div>
{% endblock body %}
