{% extends 'base.html' %} 

{% block title %}Perfil{% endblock title %} 

{% block body %}
        <div class="centrar"> 
            <div class="perfil">
                <h2>Información del Usuario</h2>
                <p><strong>Cédula:</strong> {{ usuario.username }}</p>
                <p><strong>Nombres:</strong> {{ usuario.first_name }}</p>
                <p><strong>Apellidos:</strong> {{ usuario.last_name }}</p>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <div class="actions">
                    <a class="button" href="{% url 'logout' %}">Cerrar Sesión</a>
                    <a class="button" href="{% url 'ticket_list' %}">Regresar</a>
                </div>
            </div>

        </div>
{% endblock body %}
