{% extends 'base.html' %}
{% block title %}Creación de Ticket{% endblock title %} 
{% block body %}

<div class="header">
    <nav class="container">
        <h1>Fundabit</h1>
        <ul>
            {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'Administracion' %}">Administrar</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'ticket_list' %}">Tickets</a>
            </li>
            <li>
                <a href="{% url 'perfil_usuario' %}" class="circle-button">P</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <h1>Crear Ticket</h1>
    
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Enviar</button>
        </form>
        {% else %}
        <div>
            <p>Necesitas iniciar sesión para crear un ticket.</p>
            <a href="{% url 'login_view' %}">Iniciar Sesión</a>
        </div>
        {% endif %}
        <a href="{% url 'ticket_list' %}" class="button">Volver a la Lista de Tickets</a>
    </div>


{% endblock body %}
