{% extends "base.html" %}
{% load static %}
{% block title %}Detalles del Ticket{% endblock %}

{% block body %}
    <h1>Detalles del Ticket</h1>
    <div>
        <h2>
            {{ ticket.titulo }} 
            {% if ticket.resuelto_por %}(resuelto){% else %}(no resuelto){% endif %}
        </h2>
        
        <p><strong>Fecha de Creación:</strong> {{ ticket.fecha_creacion|date:"D d M Y" }}</p>
        <p><strong>Presentado por:</strong> {{ ticket.presentado_por.nombre|default:"Desconocido" }} {{ ticket.presentado_por.apellido|default:"" }}</p>
        <p><strong>Presentado en:</strong> {{ ticket.presentado_en.nombre }}</p>
        <p><strong>Encargado:</strong> {{ ticket.asignado_a.first_name|default:"Desconocido" }} {{ ticket.asignado_a.last_name|default:"" }}</p>
        <p><strong>Resuelto por:</strong> {{ ticket.resuelto_por.first_name|default:"No resuelto" }} {{ ticket.resuelto_por.last_name|default:"" }}</p>
        <p><strong>Fecha de Cierre:</strong> {{ ticket.fecha_cierre|date:"D d M Y"|default:"No cerrado" }}</p>

        <h3>Asignar Etiquetas</h3>
        <form method="post" action="{% url 'ticket_asignar_etiquetas' ticket.id %}">
            {% csrf_token %}
            <select name="etiquetas" multiple>
                {% for etiqueta in todas_etiquetas %}
                    <option value="{{ etiqueta.id }}" {% if etiqueta in ticket.etiqueta.all %}selected{% endif %}>{{ etiqueta.nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="button">Asignar Etiquetas</button>
        </form>
        <a class="button" href="{% url 'crear_etiqueta' %}">Crear Etiqueta</a>

        {% if not ticket.resuelto_por %}
            <h3>Cerrar Ticket</h3>
            <form method="post" action="{% url 'ticket_cerrar' ticket.id %}">
                {% csrf_token %}
                <button type="submit" class="button">Cerrar Ticket</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'ticket_reabrir' ticket.id %}">
                {% csrf_token %}
                <button type="submit" class="button">Reabrir Ticket</button>
            </form>
        {% endif %}

        <div class="comments-container">
            <div class="block">
                <h3>Agregar Comentario</h3>
                <form method="post" action="{% url 'ticket_comentar' ticket.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="button">Agregar Comentario</button>
                </form>
            </div>
            <div class="comments-list">
                <nav class="comments-nav">
                    <h3>Comentarios</h3>
                    <label for="order">Ordenar comentarios:</label>
                    <select name="order" id="order" onchange="ordenarComentarios(this.value)">
                        <option value="oldest">Más Viejos</option>
                        <option value="newest">Más Nuevos</option>
                    </select>
                </nav>
                <div class="comment-list-container" id="comment-list">
                    <ul>
                        {% for comentario in comentarios %}
                            <li data-fecha="{{ comentario.fecha_creacion|date:'U' }}">
                                <strong>{{ comentario.autor.first_name }}:</strong> {{ comentario.contenido }} <br>
                                <small>Fecha: {{ comentario.fecha_creacion|date:"D d M Y" }}</small>
                            </li>
                        {% empty %}
                            <li>No hay comentarios disponibles.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <script src="{% static 'js/orden_comentarios.js' %}"></script>
        </div>        
        <a class="button" href="{% url 'ticket_list' %}">Volver al listado de tickets</a>
    </div>
{% endblock %}

