<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Tickets</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
</head>
<body>
    <div class="header">
        <h1>Listado de Tickets</h1>   
        <a class="perfil-button" href="{% url 'ticket_list' %}">P</a> 
    </div>    
    
    {% if not user.is_authenticated %}
        <div class="mensaje">
            Necesitas iniciar sesión para continuar.
            <a class="login-button" href="{% url 'login_view' %}">Iniciar Sesión</a>
        </div>
    {% else %}
        <div class="centrar">
            <a class="logout-button" href="{% url 'logout' %}">Cerrar Sesión</a>
            <a class="logout-button" href="{% url 'ticket_create' %}">Crear Ticket</a> 
            <ul>
                {% for ticket in tickets %}
                    <li class="ticket">
                        <div><strong>Título:</strong> {{ ticket.titulo }}</div>
                        <div><strong>Fecha de Creación:</strong> {{ ticket.fecha_creacion }}</div>
                        <div><strong>Fecha de Cierre:</strong> {{ ticket.fecha_cierre|default:"No cerrado" }}</div>
                        <div><strong>Presentado por:</strong> {{ ticket.presentado_por.nombre }} {{ ticket.presentado_por.apellido }}</div>
                        <div><strong>Resuelto por:</strong> {{ ticket.resuelto_por.username|default:"No resuelto" }}</div>
                        <div><strong>Presentado en:</strong> {{ ticket.presentado_en.nombre }}</div>
                        <div><strong>Etiqueta:</strong> {{ ticket.etiqueta.nombre }}</div>
                        <div>
                            <a href="{% url 'ticket_detalle' ticket.id %}">Ver Detalles</a> 
                        </div>
                    </li>
                {% empty %}
                    <div class="mensaje">
                        <br>No hay tickets disponibles.
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>