<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Ticket</title>
</head>
<body>
    <h1>Crear Ticket</h1>
    
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    {% else %}
        <div>
            <p>Necesitas iniciar sesión para crear un ticket.</p>
            <a href="{% url 'login_view' %}">Iniciar Sesión</a>
        </div>
    {% endif %}
</body>
</html>
