{% extends 'base.html' %}

{% block title %}Listado de Personal{% endblock title %}

{% block body %}

{% if user.is_superuser %}

    {% if not user.is_authenticated %}
        <div class="mensaje">
            Necesitas iniciar sesión para continuar.
            <a class="login-button" href="{% url 'login_view' %}">Iniciar Sesión</a>
        </div>
    {% else %}
        <div class="centrar">
            <h2>Lista de Personal</h2>
            <table>
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personal in personal_list %}
                    <tr>
                        <td><a href="{% url 'personal_edit' personal.cedula %}" >{{ personal.cedula }}</a></td>
                        <td>{{ personal.nombre }}</td>
                        <td>{{ personal.apellido }}</td>
    
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="mensaje">No hay personal disponible.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'personal_create' %}" class="button">Crear Nuevo Personal</a>
        </div>
    {% endif %}

{% endif %}

{% endblock %}
