{% extends 'base.html' %}

{% block title %}Listado de Personal{% endblock title %}

{% block body %}

<div class="centrar">
    <h2>Lista de Personal</h2>
    <table>
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personal_list %}
            <tr>
                <td>{{ personal.cedula }}</td>
                <td>{{ personal.nombre }} {{ personal.apellido }}</td>
                <td></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="mensaje">No hay personal disponible.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'personal_create' %}" class="button">Crear Personal</a> 
</div>

{% endblock body %}
