{% extends 'base.html' %}

{% block title %}Personal{% endblock title %}

{% block body %}
<div class="centrar">
    <h2>{% if personal %}Editar{% else %}Crear{% endif %} Personal</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <div class="button-container">
            <button type="submit" class="button button-save">Guardar</button>
            <a href="{% url 'personal_list' %}" class="button button-cancel">Cancelar</a>
        </div>
    </form>
</div>
{% endblock body %}
